%h1 What's the weather?
%p Ruby weather

= form_tag(weathers_path, method: 'post', id: 'city_weather_form') do
  .input-group-append
    = text_field_tag(:city, @city,placeholder: 'City name...', class: 'form-control')
    = submit_tag('Check', class: 'btn btn-outline-secondary')

-@cities.cities.each do |c|
  = button_tag c,value: c, class: 'btn btn-primary btn-sm', onclick: "fillInput(this.value)"
